body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: rgb(34, 34, 34);
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    border: 2px solid darkgray;
    border-radius: 7px;
    /* margin-bottom: 3rem; */
    box-shadow:1px 1px 1px 1px lightgrey;
    margin: 1rem 0;
    padding: 1rem 0;
    min-width: 1100px;
}

h1 {
    margin-left: 3rem;
    font-size: 1.8em;
}

.ui-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    min-width: 1100px;
    border: 2px solid darkgray;
    border-radius: 7px;
    box-shadow:1px 1px 1px 1px lightgrey;
}

.user-inputs {
    margin: 2rem 0;
}

.display-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
}

.incomes-expenses-container {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}

.container {
    border: 1px solid lightgray;
    border-radius: 7px;
    width: 90%;
    padding: 0.5rem;
    margin: 0.5rem;
}


input {
    min-height: 1.5rem;
    border: 1px solid darkgray;
    border-radius: 3px; 
    text-indent: 1rem;
}

input:focus {
    border: 1px solid orange;
    outline: none;
}

select {
    min-height: 1.8rem;
    width: 10rem;
    border-radius: 3px;
    padding-left: 2.7rem;
    background: none;
    outline: none;
}

select:focus {
    border: 1px solid orange;
}

button {
    min-height: 1.7rem;
    width: 10rem;
    border-radius: 3px;
    border: 1px solid darkgray;
    background: none;
}

button:focus {
    border: 1px solid orange;
    outline: none;
}


.entry {
    display: flex;
    justify-content: space-between;
    /* padding: 0.5rem 0; */
}

.entry>div {
    min-width: 25%;
    text-align: center;
    margin-bottom: 2rem;
    padding: 1rem;
}

.entry>div>div {
    margin-bottom: 1rem;
    font-size: 0.8rem;
    border-bottom: 1px solid darkgray;
}

.title {
    border-bottom: 1px solid lightgray;
    text-align: center;
    margin: 1rem 1rem 2rem 1rem;
}

.balance {
    width: 90.5%;
}

.balance-info>div {
    text-align: center;
    border-bottom: 1px solid darkgray;
    margin: 1rem 1rem 2rem 1rem;
}

